body {
    background-color: #1b1b1b;
    margin: 0;
    overflow: hidden;
}

#container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#footer {
    display: flex;
    bottom: 0;
    margin-bottom: 2vh;
    justify-content: center;
    width: 100%;
    position: fixed;
    color: #938f8f;
    font-size: medium;
    font-family:monospace
}

#quote {
    color: #ffffff;
    font-size: 5vh;
    word-spacing: 4px;
    display: inline-block;
    max-width: 40%;
    letter-spacing: 0.5px;
    text-align: center;
    line-height: 5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: #efeaea;
    text-decoration: none;
    
}

a:visited {
    color: #eee8e8;
    text-decoration: none;
}

a:hover {
    color: #cbc7c7; 
    text-decoration: none;
}

a:active {
    color: #e0dada;
    text-decoration: none; 
}